<ion-view view-title="{{title}}">
  <ion-content padding="true">
    
    <h1>Listado de fotos</h1>

   

 <div>
   <label>Ordenar por:</label>
      <button class="myButton" ng-click="order('title')">Título</button>   
 

 </div>       
 <ion-item ng-repeat="fotos in fotos.photo | orderBy:orden" href="#/app/foto/{{fotos.farm}}/{{fotos.server}}/{{fotos.id}}/{{fotos.secret}}"> 
     
            
  <div ng-show="obtenerfecha({{fotos.id}})" ></div>
 
<div class="row">
    <md-card   ng-repeat="fotos in fotos.photo">
            <img src="https://farm{{fotos.farm}}.staticflickr.com/{{fotos.server}}/{{fotos.id}}_{{fotos.secret}}_m.jpg" alt="" class="md-card-image" />
        <h4>{{fotos.title}}</h4>
        
        <a href="https://www.flickr.com/photos/151192543@N04/{{fotos.id}}">Link</a>
      </md-card>
  
        <ion-card>    
               <md-card   ng-repeat="fotos in fotos.photo">
            <img src="https://farm{{fotos.farm}}.staticflickr.com/{{fotos.server}}/{{fotos.id}}_{{fotos.secret}}_m.jpg" alt="" class="md-card-image" />
        <h4>{{fotos.title}}</h4>
        
        <a href="https://www.flickr.com/photos/151192543@N04/{{fotos.id}}">Link</a>
      </md-card>
  
<img src="https://farm{{fotos.farm}}.staticflickr.com/{{fotos.server}}/{{fotos.id}}_{{fotos.secret}}_s.jpg" alt=""/> 
  <ion-card-content>
     
      <div>
    <ion-card-title>
      {{fotos.title}}
   
      </ion-card-title>
    </div>
  </ion-card-content>
    </ion-card>
    
</div>
</ion-item>


 </ion-content>
</ion-view>
