<ion-side-menus enable-menu-with-back-views="false">

  <!-- Contenido -->
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">

      <!-- Boton Atras -->
      <ion-nav-back-button>
      </ion-nav-back-button>
    
      <!-- Boton Menu -->
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <!-- Menu -->
  <ion-side-menu side="left">
    <ion-header-bar class="bar-calm">
      <h1 class="title">Álbumes</h1>
       
    </ion-header-bar>

    <ion-content>
        
        
     
      <ion-refresher
        pulling-text="..."
        on-refresh="setlistfotos()">
      </ion-refresher>

      <!-- Listado de albunes -->
      <ion-list class="menu-list">
        <ion-item class="item"  menu-close href="#/app/galeria/{{setlist.id}}" ng-repeat="setlist in setlist">
          <div class="row">
            <div class="col col-75 menu-item">{{setlist.title._content || setlist.title}}</div>
            <div class="col">
             <a href="#/app/galeria/{{setlist.id}}" class="button button-positive button-small button-block icon ion-ios-football"></a>
            </div>
          </div>
        </ion-item>
      </ion-list>

    </ion-content>
  </ion-side-menu>

</ion-side-menus>
