<ion-view view-title="Galería de Fotos">

  <ion-content style="text-align: center;">
    <br/>
    <h3 style="text-align:center;">Bienvenido</h3>
          <div class="ic-selected" data-componentid="image1" data-tap-disabled="true">
      <img src="img/images.jpg" width="100%" height="auto" class="cover">
    </div>
      
    <button menu-toggle="left" class="button button-calm">Seleccionar Fotos</button>
      
  </ion-content>

</ion-view>
