<ion-view view-title="{{title}}">
  <ion-content padding="true">
      <ion-card>
          <img src="https://farm{{farm}}.staticflickr.com/{{server}}/{{id}}_{{secret}}_m.jpg" alt=""/>
          <br>
          <button class="myButton" ng-click="enviarpormail('https://www.flickr.com/photos/151192543@N04/{{id}}')">Enviar por mail</button>
  <ion-card-content>
    <ion-card-title>
      </ion-card-title>
    <ion-list class="menu-list">
        <ion-item class="item"   ng-repeat="comentario in comentarios.comment">    
    <!--        <button ng-click="enviarpormail('https://www.flickr.com/photos/151192543@N04/{{id}}')">Enviar por mail</button> -->
          <div class="row">
            <div class="col col-75 menu-item">
                {{comentario.authorname}} :  {{comentario._content}}
       
              </div>

          </div>

        </ion-item>
      </ion-list>
  </ion-card-content>
</ion-card>

 </ion-content>
</ion-view>